<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- <base href="/">  -->
	<title><%= name %></title>
	<link rel="stylesheet" href="assets/styles/vendor.css">
	<link rel="stylesheet" href="assets/styles/app.css">
</head>
<body <% if (includeAngular) { -%>ng-app="AllInOne"<% } -%>>
	<h1>Hello World! This is UI Generator</h1>
	<script type="text/javascript" src="scripts/vendor.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>